body {
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  background-color: #293846;
  color: white;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: rgb(92, 140, 169);
}

span {
  margin-right: 1rem;
}

.App {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  background-color: #293846;
}

.home-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-self: space-between;
}

/* SideNavigation */
.Sidebar {
  height: 100%;
  width: 16%;
  background-color: #344a5f;
  margin: 0;
  padding: 0;
}

.SidebarList {
  height: auto;
  padding: 0;
  width: 100%;
}

.Profile {
  color: white;
  text-align: center;
  height: 8rem;
  width: 100%;
  padding-top: 5px;
}

.Profile p {
  margin: 0;
}

.SidebarList .row {
  color: white;
  width: 100%;
  height: 5.5rem;
  display: flex;
  list-style-type: none;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.SidebarList .row:hover {
  cursor: pointer;
  background-color: #293846;
}

.SidebarList #active {
  background-color: #293846;
}

.row #icon {
  flex: 30%;
  display: grid;
  place-items: center;
}

.row #title {
  flex: 70%;
  font-weight: bold;
  place-items: center;
}

/* Add Product */
.ProductContainer {
  width: 30%;
  height: 100%;
  color: black;
  padding: 1rem;
  border: 2px solid black;
  background-color: white;
  overflow-y: auto;
}

/* Product List */
.ProductList {
  width: 70%;
  height: 89%;
  color: black;
  padding: 10px;
}

.CustomerList {
  width: 70%;
  height: 89%;
  color: black;
  padding: 10px;
}

.tableFixHead {
  overflow-y: auto;
  height: 100%;
}
.tableFixHead thead th {
  position: sticky;
  top: 0;
}
table {
  border-collapse: collapse;
  width: 100%;
}

/*Filter products */
.filter {
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0 1rem 0;
  border-bottom: 0.1rem #c0c0c0 solid;
}

.filter div {
  flex: 1;
  padding-right: 0.5rem;
}

.add {
  background-color: #04eb78;
  width: 1.5rem;
  margin: 0.5rem;
}

.remove {
  background-color: #fb4a40;
  width: 1.5rem;
}
